body {
    width: 800px;
    background-image: url('img/space.png');
}

#cadreJeu {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    border: 2px solid black;
}

#text {
    width: 600px;
    margin-left: 465px;
    margin-top: 100px;
}

#text2 {
    width: 600px;
    margin-left: 465px;
    margin-top: 425px;
}